<form>
	<input type="hidden" [(ngModel)]="token" name="token">
	<div class="mb-3">
		<label for="exampleInputEmail0" class="form-label">Email</label>
		<input type="email" class="form-control" id="exampleInputEmail0" aria-describedby="emailHelp" [(ngModel)]="user.email" name="email">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password" name="password">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword2" class="form-label">Password Confirmation</label>
		<input type="password" class="form-control" id="exampleInputPassword2" [(ngModel)]="user.password_confirmation" name="password_confirmation">
	</div>
	<button type="submit" class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
</form>