<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">{{ title }}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item" *ngIf="!authenticated$">
					<a routerLink="/login" class="nav-link active" aria-current="page">Login</a>
				</li>
				<li class="nav-item" *ngIf="!authenticated$">
					<a routerLink="/register" class="nav-link">Register</a>
				</li>
			</ul>
			<div class="d-flex" *ngIf="authenticated$">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a routerLink="/profile" class="nav-link active" aria-current="page">{{ currentUser$.name }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" (click)="logout($event)">Log Out</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>