<form class="mb-3">
	<p class="lead">Password Update</p>
	<div class="mb-3">
		<label for="exampleInputPassword0" class="form-label">Current Password</label>
		<input type="password" class="form-control" id="exampleInputPassword0" [(ngModel)]="currentPassword" name="current_password">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">New Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user$.password" name="password">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword2" class="form-label">Password Confirmation</label>
		<input type="password" class="form-control" id="exampleInputPassword2" [(ngModel)]="user$.password_confirmation" name="password_confirmation">
	</div>
	<button type="submit" class="btn btn-primary" (click)="updatePassword()">Update Password</button>
</form>