<form>
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="user.email" name="email" required [class.is-invalid]="errorMessage">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password" name="password" required [class.is-invalid]="errorMessage">
	</div>
	<div class="my-3">
		<p class="text-danger">
			{{ errorMessage }}
		</p>
	</div>
	<button type="submit" class="btn btn-primary" (click)="login()">Log In</button>
	<a routerLink="/forgot-password" class="ms-3">Forgot Password?</a>
</form>