<form class="mb-3">
	<p class="lead">Profile Update</p>
	<div class="mb-3">
		<label for="email_field" class="form-label">Email Address</label>
		<input type="email" class="form-control" id="email_field" aria-describedby="emailHelp" [(ngModel)]="currentUser$.email" name="email">
	</div>
	<div class="mb-3">
		<label for="name_field" class="form-label">Name</label>
		<input type="text" class="form-control" id="name_field" [(ngModel)]="currentUser$.name" name="name">
	</div>
	<button type="submit" class="btn btn-primary" (click)="update()">Update</button>
</form>
<app-update-password></app-update-password>