<form>
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Email</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="user.email" name="email">
	</div>
	<div class="mb-3" *ngIf="resetRequested">
		<p>Password reset link requested. Check your email.</p>
	</div>
	<button type="submit" class="btn btn-primary" (click)="requestPasswordResetLink()">Request Link</button>
</form>