<form [formGroup]="registerForm" (ngSubmit)="register()">
	<div class="mb-3">
		<label for="exampleInputEmail0" class="form-label">Name</label>
		<input type="text" class="form-control" id="exampleInputEmail0" aria-describedby="emailHelp" formControlName="name">
	</div>
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" [class.is_invalid]="errorService.fieldHasError(registerForm, 'email')">
		<div *ngIf="errorService.fieldHasError(registerForm, 'email')">
			<p class="text-danger">
				{{ errorService.getFieldError(registerForm, 'email') }}
			</p>
		</div>
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword2" class="form-label">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword2" formControlName="password">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword3" class="form-label">Password Confirmation</label>
		<input type="password" class="form-control" id="exampleInputPassword3" formControlName="password_confirmation">
	</div>
	<button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
</form>